@import "_variables";

// Import Bulma
@import "../../node_modules/bulma";

// Import Fontawesome
@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

.story {
    font-size: 1.125rem;

    h2 {
        @extend .title;
        @extend .is-2;
    }

    h3 {
        @extend .title;
        @extend .is-3;
    }

    h4 {
        @extend .title;
        @extend .is-4;
    }

    p {
        margin-bottom: 1.2em;
    }

    figure {
        margin-bottom: 1.5rem;
    }

    ul {
        list-style: unset;
        margin-bottom: 1.2em;
        padding-left: 1.2em;
    }

    figcaption {
        text-align: center;
        font-style: italic;
        font-size: .9em;
    }

    hr {
        background-color: hsl(0, 0%, 96%);
        height: 2px;
        margin: 1.5rem 0;
    }

    twitter-widget {
        margin: auto;
    }

    .embed-youtube {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
    }
       
    .embed-youtube iframe,
    .embed-youtube object,
    .embed-youtube embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    @media only screen and (max-width: $tablet) {
        figure {
            margin-left: -2rem;
            margin-right: -2rem;
        }

        .embed-twitter {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.feature-card-text {
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.text {
    p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}