@import "../styles/_variables";

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.small {
  position: absolute;
  bottom: 0px;
}

.story-card {
  height: 8rem;
  margin-bottom: 2rem !important;
}

.story-card:hover {
  .overlay {
    background-color: rgba(0, 0, 0, 0.1);
  }
  .info {
    color: $link;
  }
  .title {
    color: $link;
  }
}

@media only screen and (max-width: $tablet) {
  .story-card {
    height: 7rem;
  }
  .info {
    font-size: .75rem;
  }
  .title {
    font-size: 1.2rem !important;
  }
  .text {
    width: 66% !important;

    p {
      -webkit-line-clamp: 1 !important;
    }
  }
}

@media only screen and (max-width: $desktop) {
  .story-card {
    height: 7rem;
  }
  .info {
    font-size: .75rem;
  }
  .title {
    font-size: 1.2rem !important;
  }
  .text {
    width: 66% !important;
  }
}

.figure {
  position: relative;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  color: black;
}

.text {
  padding-bottom: 0rem;
  padding-top: 0rem;

  p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
}

.info {
  line-height: 1.2;
}