@import "../../styles/_variables";

.feature {
  height: 35rem;
}

.side-column {
  height: 100%;
  padding: .5rem;
}

@media only screen and (max-width: $tablet) {
  .feature {
    height: unset;
  }

  .side-column {
    padding: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }
}