@import "../../styles/_variables";

.feature {
  height: 35rem;
}

.side-column {
  padding-left: 1rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
}

.side-card {
  max-height: unset;
  height: 50%;
}

/*
@media only screen and (max-width: $fullhd) {
  .feature {
    margin: 0rem;
    max-width: 100%;
  }
}
*/

@media only screen and (max-width: $tablet) {
  .feature {
    height: unset;
  }

  .side-column {
    padding: 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
  }
}